body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #38610B;
}
.quemsomos{
    background-color: azure;
    color: black;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: aquamarine;
    color: green;
}
.bg-footer{
    background-color: gray;
    color: white;
}