body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #38610B;
}
.quemsomos{
    background-color: red;
    color: whitesmoke;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: aquamarine;
}